# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Django
# ========================
db.sqlite3
media/
staticfiles/
logs/

# ========================
# Virtual Environment
# ========================
venv/
.env

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db

# ========================
# AI / ML cache
# ========================
.cache/
